In [70]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [71]:
df_train_raw = pd.read_csv('data/train.csv')
df_test_raw = pd.read_csv('data/test.csv')

In [72]:
df_train = df_train_raw.copy()
df_test = df_test_raw.copy()

In [73]:
strat = df_train_raw['Transported'].copy()
strat = strat.map({False:0, True:1})
df_train, df_val = train_test_split(df_train_raw, stratify=strat, test_size=0.2)



Train e validation data are well balanced

In [78]:
for df in [df_train, df_val]:
    print(df['Transported'].value_counts() / len(df), '\n')

True     0.503595
False    0.496405
Name: Transported, dtype: float64

True     0.503738
False    0.496262
Name: Transported, dtype: float64

# PipeLine

In [89]:
df_train.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
7436,7950_03,Earth,False,E/516/P,55 Cancri e,22.0,False,10.0,0.0,624.0,0.0,85.0,Done Ingston,True
4610,4912_02,Mars,True,F/999/P,TRAPPIST-1e,15.0,False,0.0,0.0,0.0,0.0,0.0,Bats Bane,True
7944,8481_01,Europa,True,B/332/S,TRAPPIST-1e,60.0,False,0.0,0.0,0.0,0.0,0.0,Mesarid Braned,True
6538,6902_01,Europa,True,D/217/P,TRAPPIST-1e,46.0,False,0.0,0.0,0.0,0.0,0.0,Strali Idalpus,True
8540,9119_01,Earth,True,G/1483/P,TRAPPIST-1e,16.0,False,0.0,0.0,0.0,0.0,0.0,Grette Miltongson,False

In [95]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer

In [98]:
num_t = Pipeline(steps=[("scaler", StandardScaler())])
t = [('num', num_t, [7, 8, 9, 10])]
transformer = ColumnTransformer(transformers=t)

df_train.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
7436,7950_03,Earth,False,E/516/P,55 Cancri e,22.0,False,10.0,0.0,624.0,0.0,85.0,Done Ingston,True
4610,4912_02,Mars,True,F/999/P,TRAPPIST-1e,15.0,False,0.0,0.0,0.0,0.0,0.0,Bats Bane,True
7944,8481_01,Europa,True,B/332/S,TRAPPIST-1e,60.0,False,0.0,0.0,0.0,0.0,0.0,Mesarid Braned,True
6538,6902_01,Europa,True,D/217/P,TRAPPIST-1e,46.0,False,0.0,0.0,0.0,0.0,0.0,Strali Idalpus,True
8540,9119_01,Earth,True,G/1483/P,TRAPPIST-1e,16.0,False,0.0,0.0,0.0,0.0,0.0,Grette Miltongson,False